@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
@import url('http://cdn.jsdelivr.net/jquery.mcustomscrollbar/3.0.6/jquery.mCustomScrollbar.min.css');
/**
font-family: 'Source Sans Pro', sans-serif;
**/
html,
body {
    margin: 0;
    padding: 0;
    background: #fff;
font-weight: normal;font-family: 'Source Sans Pro', sans-serif;
}

body {  font-size: 14px;}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: normal;
    background: transparent;
    font-weight: normal;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

input,
textarea,
select {
    font-weight: normal;
}

* {
    outline: none;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


.form-control:focus {
    border-color: #d5d5d5;
    box-shadow: none;
    outline: 0 none;
}

input,
select,
textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}


/***** custom Html started ****/


/****header*****/

header {   background: #171717;   padding: 5px 40px;  display: flex;  justify-content: space-between;    position: fixed;  width: 100%;     z-index: 999;}
.navbar-brand {  display: inline-block;  padding-top: 0;  padding-bottom: 0;
    margin-right: 0;
    font-size: 0;
    line-height: 0;
    white-space: initial;
    max-width: 129px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 18px;
    margin-left: 18px;
    color: #fff;
    text-transform: uppercase;
    font-size: 21px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0px;
    padding-bottom: 0px;
    padding-bottom: 0px;
    letter-spacing: 0.03em;
    font-weight: 400;
}
.navbar-expand-lg .navbar-nav .nav-link.subscribe {
    background: #eb1618;
    padding: 0px 45px;
    border-radius: 38px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    margin-left: 15px;
    font-size: 21px;
    line-height: 2.6;
    margin-top: -10px;
    position: relative;
    letter-spacing: 0.05em;
   box-shadow: 0 0 1px #ccc;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: linear;
    box-shadow:0px 0 0 #fff  inset;
border:0px;
}

.navbar-expand-lg .navbar-nav .nav-link.subscribe:hover{
    box-shadow:300px 0 0 #fff inset;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link.subscribe{background: #fff; color:#ff1818; }
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link.subscribe:hover{ box-shadow:300px 0 0 #ff1818 inset; color: #fff;}
#navbarNav {  margin-left: 105px;margin-top: 10px;}
.socialmediaicon { vertical-align: middle;  display: flex;  align-items: center;}
.socialmediaicon ul li a i,.socialfooter ul li a i{ color: #fff; font-size: 30px; transition: 0.6s all ease;}
.socialmediaicon ul li{ display: inline-block;}
.socialmediaicon ul li { display: inline-block;  padding: 0px 8px;float: left;}
.socialmediaicon ul li:nth-child(5) {  margin-left: 30px;}
.socialmediaicon ul li a.likes {
    background: #4267b2;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    line-height: 1.8;
    display: inline-block;
    padding: 0px 7px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 18px;
}
.socialmediaicon ul li a.likes:hover i{ color: #fff;}
.socialfooter ul { text-align: center;}
.socialfooter ul li{ display: inline-block; margin:0px 7px;}
.socialmediaicon ul li a i:hover,.navbar-expand-lg .navbar-nav .nav-link:hover,.socialfooter ul li a i:hover{ color: #eb1618;}
.socialmediaicon ul li a.likes:hover{ background: #eb1618}
.socialmediaicon ul li a.likes i{ font-size: 22px;}
nav.navbar.navbar-expand-lg {  padding: 0px;}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: #eb2618;
}
/*****header end*****/



/**** vedio ***/

section.vedio{overflow: hidden;}
.main {
    position: fixed;
	background: #171717;
    color: white;
    left: 0;
    top: 180px;
    bottom: 0;
    max-width: 510px; width: 100%; padding-top: 15px; transition: 0.6s all ease;    z-index: 999; padding-right: 5px;
}
.main.hide_left_sidebar {  margin-left:-480px;}
.latest-news { min-height: 310px;  width: 100%;  background-repeat: no-repeat; background-size:cover!important;     margin-bottom: 20px;     margin-top: 0px; transition: 0.06s all ease;}
.main p{ color: #fff; text-align: center;font-family: 'Source Sans Pro', sans-serif; font-weight: normal; font-size: 18px;    margin-bottom: 25px;}
.main h2{ color: #fff; text-align: center; font-family: 'Source Sans Pro', sans-serif; font-weight: 600; font-size: 40px;letter-spacing: 0.04em;    margin-bottom: 20px;    text-transform: uppercase; }

video {
    width: auto;
    height: 775px;
    z-index: -100;
    background: url(//demosthenes.info/assets/images/polina.jpg) no-repeat;
    background-size: cover;
    transition: 0.6s opacity;
}
.ytp-watermark:hover{display: none!important;}
.mCSB_inside>.mCSB_container {  margin-right: 0px;}
.music_vedio::before {  background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    z-index: 99;
}

.embed-responsive-16by9::before {
    padding-top: 49.3%;
}
.latest-news:hover {
    background-size: 110%;
}


.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}


/**** vedio section end ****/


/****left sidebar section****/


span.volium {
    position: absolute;
    right: 40px;
	bottom: 7%;    z-index: 99;}
span.volium .fa-volume-up:before,span.volium .fa-volume-off:before{  color: #fff;  font-size: 22px;}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background-color: #fff!important;}
.inner-section .laguage .dropdown{ width: 160px;    margin:0px auto 15px auto;  border: 1px solid #d2d2d2; background: #171717; color: #fff;}
.inner-section .laguage .dropdown a.dropdown-toggle {  width: 100%;  display: block;}
.icon-small{  height:18px;  margin:-6px 0 0px 6px;Padding:0;}
.icon-medium{  height:22px;margin:0;padding:0;}
.inner-section .laguage .dropdown a.dropdown-toggle::after {
    display: inline-block;
    content: "\f078";
    position: absolute;
    right: 0;
    color: #fff;
    top: 0px;
    background: #5e5e5e;
    width: 30px;
    height: 100%;
    display: block;
    font-family: fontawesome;
    text-align: center;
    border: none;
    border-left: 1px solid #d2d2d2;
    padding-top: 2%;
}
.inner-section .laguage .dropdown a span{ color: #fff; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; font-size: 18px; }
.inner-section .laguage .dropdown ul.dropdown-menu li a{ display: block; width: 100%; }
.inner-section .laguage .dropdown ul.dropdown-menu {
    background: #171717;
    width: 100%;
    border: 1px solid #d2d2d2;
    border-radius: 0px;
    transform: translate3d(5px, 26px, 0px);
    top: 2px!important;
    left: -1px!important;
    will-change: transform;
    width: 160px;
}
span.crose {  height: 2px;  width: 22px;  background: #fff;   display: block;  transform: rotate(-44deg);transition: 0.5s all ease;}
span.crose::after {
    height: 2px;
    width: 22px;
    background: #fff;
    display: block;
    transform: rotate(87deg);
    content: ""; transition: 0.5s all ease;
}
.closeicon:hover span.crose,.closeicon:hover span.crose:after{background: #eb1618;}
.back a.b:before {
    content: "\f053";
    font-family: fontawesome;
    font-size: 11px;
    margin-right: 7px;
}
.back {
    display: flex;
    justify-content: space-between;
    width: 510px;
    padding:0px 8px 0px 18px; /*z-index: 999;
    position: relative;*/
}
a.closeicon { padding-top: 9px;}
.back a{ color: #a7a7a7; font-family: 'Source Sans Pro', sans-serif; font-weight: 400; font-size: 14px;}
.address ul li,.address ul li a{ text-align: center;font-family: 'Source Sans Pro', sans-serif; font-weight: 400; font-size: 18px; color: #fff; transition: 0.6s all ease;}
.address { margin-top: 40px;}
.main.hide_left_sidebar span.crose {  transform: rotate(0deg);}
.main.hide_left_sidebar span.crose::after {transform: rotate(90deg);}
.main.hide_left_sidebar .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { display: none;}
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail { background-color: #505050;}
.mCSB_scrollTools .mCSB_draggerRail {  width: 6px;}
.main.hide_left_sidebar .fixed-item{left:-480px}
.laguage {
    margin-bottom: 30px;
}
.address ul li a:hover{ color: #f71416;}
/**** leftsidebar section end ****/

/**** home page ******/
.homepage .b{ visibility: hidden;}
.button-controls ul li { display: inline-block;  width: 49%; margin-bottom: 20px;}
.button-controls ul li:nth-child(2n){ text-align: right;}
.button-controls ul li a:hover,.button-controls ul li a:focus{ border: 1px solid #fff;}
.button-controls a {
    color: #fff;
    border: 1px solid #9c2c2b;
    display: inline-block;
    line-height: 3.1;
    padding: 0px 25px;
    min-width: 192px;
    text-align: left;
    border-radius: 25px;
    font-size: 16px;
    position: relative; transition: 0.6s all ease;
}
.main.hide_left_sidebar .mCSB_scrollTools .mCSB_draggerRail {  width: 0px;}
.button-controls a span svg {
    fill: #fff!important;
    width: 20px;
    height: 25px;transform: rotate(180deg);
}
.button-controls a span {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 20px;
}
.button-controls ul li:nth-child(2n) {  
	text-align: right;
}
.content-area {
	margin-top: 0px;}

.homepage .fixed-item {

    padding-top: 5px;
}
.button-controls {
    margin-top: 0px;
}
.scrollarea {
    max-height: 146px;
}
.recent-vedio{
    padding: 20px 30px;
}
.button-controls {
    padding: 0px 30px;
}
.homepage .content-area {
    margin-top: 0px;
}
/*** home pages end****/


/*** music pages end****/
.music_img {  height: 160px; 
	width: 100%; 
	background-size: cover; margin-bottom: 10px;
}

.content-area .music-list  h3{ 
	font-size: 25px; 
	margin-bottom: 0px;
	font-family: 'Source Sans Pro', sans-serif;letter-spacing: 0.06em;font-weight: 400;    letter-spacing: 0.04em;
}
.content-area .music-list .date {
    font-size: 18px;
    margin-bottom: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    display: block;
    width: 100%;letter-spacing: 0.05em;
}
.content-area .music-name{ 
	font-size: 18px; 
	margin-bottom: 0px; text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;letter-spacing: 0.04em;
}
.music .fixed-item {
    padding-top: 0px;
}
.content-area .music-list .col-md-6{ margin-bottom: 40px; padding-left:7.5px; padding-right:7.5px; }
.row.music-list{ margin: 0px;}
.music .socialfooter { margin-top: 15px;}

/***music page ***/
.music-nternal p{ text-align: left;}
.music-nternal ul li {
    list-style: decimal;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    margin-bottom: 9px;
}
.music-nternal ul{
	margin:-8px 0 0 18px;
}
.content-area .music-list.music-nternal .date {
    margin-bottom: 10px;
    margin-top: 10px;
}
.music-nternal .music_img {
	height: 200px;}
.content-area {
    padding:0px 30px;
}
.music .scrollarea {
    max-height: 580px;
}
.internal .scrollarea {
	max-height: 570px;}
.bio .scrollarea {
	max-height: 520px;}
.music .socialfooter {
    margin-top: 30px;
}

music-nternal{ margin-bottom: 30px;}
.music-list a{ color: #fff;}
.music-list a:hover{ color: #bdbcbc;}
.back a:hover{color: #fff;}

/***** end ******/

/**** vedio section start****/
.videos .scrollarea {
	max-height: 560px;}
.videos iframe {
    width: 100%;
}
.recent-vedio iframe {
    width: 100%;
}
.main h3{ 
	font-size: 25px; 
	margin-bottom: 0px;
	font-family: 'Source Sans Pro', sans-serif;letter-spacing: 0.06em;font-weight: 400; margin-bottom: 15px;
}
.tour-list ul li span.addresss,.contact-number ul li span{font-family: 'Source Sans Pro', sans-serif;letter-spacing: 0.06em;font-weight: 400;font-size: 18px; }
.videos .content-area p{ text-align: left;}
/**** vedio section end****/

/**** tour section start****/

.tour-list ul li span.addresss::before{ content: "\f041"; display: inline-block; width: 25px ; height: 25px; font-family: fontawesome;color: #eb1618;}
.tour-list ul li{ position: relative;}
.tour-list ul li span.tour-date {
    position: absolute;
    right: 0px;
    top: 2px;
    color: #eb1618;
    font-size: 18px;
}
.tour .scrollarea,.contact .scrollarea,.subscribe .scrollarea{
	max-height: 550px;}
.tour-list {
    padding: 0px 15px;
}
.tour-list ul {
    border-bottom: 1px solid #454545;
    padding: 30px 0;
}
form input.form-control:focus, form textarea.form-control:focus{ color: #fff;}
form input.form-control, form textarea.form-control {
    color: #fff;
}
/**** tour section end****/

/**** contact section start and subcribe****/
form input.form-control,form textarea.form-control {
    background: none;
    border: 1px solid #4a4a4a;
    line-height: 2.2;
    border-radius: 1px; color: #8a8989;
}
form label{ font-family: 'Source Sans Pro', sans-serif; color: #fff; font-size: 20px;    margin-bottom: 4px; letter-spacing: 0.03em;}
form input[type="submit"].form-control{
    color: #fff;
    border: 1px solid #9c2c2b;
    display: inline-block;
    line-height: 2.5;
    padding: 0px 25px;
    max-width: 200px;
    text-align: center;
    border-radius: 25px;
    font-size: 16px;
    position: relative;
    transition: 0.6s all ease; width: 100%;text-transform: uppercase;font-family: 'Source Sans Pro', sans-serif; font-weight: 600;  font-size: 21px; cursor: pointer; transition: 0.6s all ease;    margin-top: 10px;
}
form input[type="submit"].form-control:hover{ border: 1px solid #fff; }
.contact-number{ padding: 20px 30px}
.contact-number ul li{ width: 100%;display:block; margin-bottom: 18px;}
.contact-number ul li ul li {  margin: 0;}
.contact-number ul li span.email::before,.contact-number ul li span.phone::before,.contact-number ul li span.map::before{ content: "\f003"; display: inline-block; width: 25px ; height: 25px; font-family: fontawesome;color: #eb1618; text-align: left;}
.contact-number ul li span.phone::before{content: "\f10b";    font-size: 21px;    position: relative;
    top: 3px;}
.contact-number ul li span.map::before{content: "\f041";}
.contact-number ul li span {
    display: block;
    width: 100%; margin-bottom: 15px;
}
.main .contact-number  h3{ margin-bottom: 8px;}
form ul li select {
    width: 100%;
    line-height: 2.7;
    padding: 4px 40px 4px 15px;
    border: 1px solid #4a4a4a;
    background: url(../images/erow-down.png);
    background-position: 97% 50%;
    background-repeat: no-repeat;    color: #fff;  height: 47px;
}
.subscribe p{ text-align: left;}
.subscribe .fixed-item {
    padding: 0px 30px;
}
form input.form-control:focus, form textarea.form-control:focus{ background:none; border-color: #fff;}
form select:focus{border-color: #fff;}
form textarea.form-control {
    min-height: 100px;
    resize: none;
}
.socialmediaicon ul li a i:hover, .socialfooter ul li a i:hover {
    transform: rotate(360deg);
    transition: 0.2s all ease;
}
form ul li select option{color: #333;}
.tour-list ul li span.addresss, .contact-number ul li a{ color: #fff;     clear: both;    display: inline-block;}
.tour-list ul li h3 a:hover, .contact-number ul li a:hover{ color: #fa5b5d}
.tour-list ul li h3 a{ color: #fff;}
.contact-number ul li span.email:before:hover, .contact-number ul li span.phone:before:hover, .contact-number ul li span.map:before:hover{ color: #eb1618;}
/**** contact section end****/







/***footer Start ****/

footer {
    background: #000000;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 11px 40px;
    margin: -6px 0 0 0;
    font-size: 16px;
    padding-left: 50%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 99; letter-spacing: 0.03em;
}
footer p{ margin: 0;}
footer .copyright a{ color: #4baaf6; transition: 0.5s all ease;}
footer .copyright a:hover{color: #fff; }
footer .copyright{color:#95a5b2;}
footer .copyrights{color:#fff;}
.socialfooter {  margin-top: 35px;}
footer .copyright {
    color: #95a5b2;
    font-size: 15px;
    letter-spacing: 0.01em;font-family: 'Source Sans Pro', sans-serif;font-weight: 400;
}
/**** footerend ****/

/****ie issue solwe**/
select::-ms-expand {
   display: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
form input[type='submit'].form-control {
	max-width: 183px!important;}
form ul li select{ height: 47px;}
form ul li select option{color: #333;}
}

/****ie issue solwe end**/


/****Responsive area**/ 

@media screen and (max-width:1500px) {
#navbarNav { 
	margin-left: 70px;
	}

form ul li select{ height: 36px;}
form ul li select{ -webkit-height: 38px;}
form ul li select{ -moz-height: 38px;}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 17px;
}
.main h3 {
    font-size: 20px;
}
.embed-responsive {
	margin-top: -70px;
	}
.navbar-brand {
	max-width: 78px;
	}
.navbar-expand-lg .navbar-nav .nav-link.subscribe {
    font-size: 21px;
    line-height: 2.3;
    margin-top: -7px;font-size: 17px;

}
.tour-list ul li span.addresss, .contact-number ul li span { font-size: 15px;}
	
.socialmediaicon ul li a i{
	color: #fff;
	font-size: 25px;
	}
.socialmediaicon ul li {
	padding: 0px 4px;
	}
.main {
	top: 107px;
	}
.music_vedio::before{
	height: 100%;
	}
.socialmediaicon ul li:nth-child(5) {
    margin-top: -2px;
}
span.volium { 
	bottom: 10%;
}
span.crose::after {  
	width: 22px;
}
span.crose {
    width: 22px;	
}
.main {
    padding-top: 8px;
	}
.main h2 {
    font-size: 26px;
    margin-bottom: 10px;
	margin-top: -12px;
}	
.main p {
    font-size: 17px;
    margin-bottom: 14px;line-height: 22px;
}	
.homepage .scrollarea {
    max-height: 120px;
}
.recent-vedio {
    padding: 15px 30px 5px;
}
.recent-vedio iframe{ height: 230px;
    width: 100%;
}
.button-controls a {
    line-height: 2.8;
    font-size: 16px;	
}
.button-controls ul li {
    margin-bottom: 10px;
}
.music .scrollarea {
    max-height: 436px;
}
.music.internal .scrollarea {
    max-height: 440px;
}
.music.internal .socialfooter {
    margin-top: 12px;
}
.content-area .music-list .col-md-6 {
    margin-bottom: 12px;
}
.music_img {
    height: 129px;
    width: 100%;
		background-size: 100%; 
	margin-bottom: 4px;
}
content-area .music-list h3 {
    font-size: 23px;
}
.content-area .music-list .date {
	font-size: 16px;}	
.content-area .music-name {
	font-size: 13px;
	}
.music-nternal ul li {
    font-size: 17px;
    margin-bottom: 0px;
    width: 100%;
}
.content-area .music-list h3 {
	font-size: 22px;
	}
.music-nternal .music_img {
		height: 170px;
	}
.content-area .music-list.music-nternal .date {
    margin-bottom: 5px;
    margin-top: 5px;
}
	form label {
		font-size: 15px;
	}
	form ul li select {
		
		line-height: 2;
	}
form input.form-control, form textarea.form-control {
		    line-height: 1.5; color: #fff; 
	}
form input[type="submit"].form-control {
    line-height: 2;
    max-width: 160px;
    font-size: 16px;
    font-size: 19px;
	margin-top: 6px;
	}
.form-group {
	margin-bottom: 10px;
}

.subscribe .socialfooter {
    margin-top: 12px;
}

.tour-list ul li span.tour-date {
	top: 0px;
	}	
.tour-list ul {
    padding: 15px 0;
}
.tour .scrollarea, .contact .scrollarea, .subscribe .scrollarea {
    max-height: 400px;
}
.main.videos h3 {
    font-size: 20px;
    margin-bottom: 5px;
}
.videos iframe {
    height: 153px;
}
.videos	.socialfooter {
    margin-top: 5px;
}
.latest-news {
    min-height: 204px;
    margin-bottom: 14px;
    background-size: 100%;
}
	.bio .scrollarea {
    max-height: 349px;
}
form textarea.form-control {
    min-height: 80px;
}
.socialmediaicon ul li a i, .socialfooter ul li a i {
    font-size: 25px;
	}
.navbar-expand-lg .navbar-nav {
    margin-top: -4px;
}
.contact-number ul li {
    margin-bottom: 0px;
}
}

@media screen and (max-width:1200px) {
.music .scrollarea {
    max-height: 344px;
}
.music_img {
	height: 110px;}
.content-area .music-list .col-md-6 {
    margin-bottom: 8px;
}
.content-area .music-list h3 {
    font-size: 20px;
    line-height: 18px;
}
.content-area .music-list .date {
    font-size: 14px;}	
.content-area .music-list h3 {
    font-size: 19px;
    line-height: 17px;
}
.content-area .music-name {
    font-size: 12px;
    margin-top: 0;
    line-height: 1;
}
.main {
    top: 93px;
}
.socialfooter ul li a i {
    font-size: 20px;
}
.music .socialfooter {
    margin-top: 20px;
}
.recent-vedio iframe {
	height: 160px;
	}
.button-controls a {
    line-height: 2.5;
    font-size: 13px; min-width: 160px;
}
.button-controls a span {
    top: 3px;
	}
	.videos .scrollarea {
    max-height: 343px;
}
.videos iframe {
    height: 271px;
	border: none;}
.latest-news {
	min-height: 160px;
	}
.bio .scrollarea {
    max-height: 288px;
}
.socialfooter {
    margin-top: 10px;
}
.tour .scrollarea{
    max-height: 306px;
}	
.contact .scrollarea{max-height: 343px;
	}
.subscribe .scrollarea {
    max-height: 275px;
}	
form textarea.form-control {
    min-height: 59px;
}
.form-group {
    margin-bottom: 3px;
}
	
}
	